extends layout

block admin
  h2 Accounts (#{accounts.size()})
  table.table.table-striped
    thead
      tr
        th Username
        th Email
        th Name
        th Created Date
    tbody
      each account in accounts
        tr
          td
            a(href="/olympus/accounts/#{account.id}")= account.username
            |  (<a href="/#{account.username}">profile</a>)
          td= account.email
          td= account.fullname
          td= formatter.formatDateTime(account.createdDate)


