extends layout

block admin
  if message
    .alert
      = message
  h2 Account (#{userAccount.username})
  table.table.table-striped
    thead
      tr
        th Name
        th Value
    tbody
      tr
        td Id
        td= userAccount.id
      tr
        td Username
        td= userAccount.username
      tr
        td Email
        td= userAccount.email
      tr
        td Profile Page
        td
          a(href="/#{userAccount.username}") /#{userAccount.username}
  hr
  h4 Vehicles
  table.table.table-striped
    thead
      tr
        th Id
        th VIN
        th Description
        th TimeZone
    tbody
      each vehicle in vehicles
        tr
          td
            a(href="/olympus/vehicles/#{vehicle.id}")= formatter.formatObjectId(vehicle.Id)
          td
            a(href="/olympus/vehicles/#{vehicle.id}")= vehicle.VIN
          td= vehicle.makeAndModel
          if vehicle.timeZone
            td= vehicle.timeZone.ID
          else
            td Unknown.
  hr

  h4 Password Reset
  target = "/olympus/accounts/" + userAccount.id + "/password"
  +form(target).form-horizontal
    fieldset
      +grouped_input(label="New password", id="newPassword", type="password", name="newPassword").input-large
      +grouped_input(label="Verify password", id="confirmPassword", type="password", name="confirmPassword").input-large
    .form-actions
      button.btn.btn-primary(type="submit") Update Password

