extends layout

block admin
  h2 Active Profiles
  p
    each profile in environment.activeProfiles
      code= profile
      | &nbsp;
  h2 AWS Keys
  table.table.table-bordered.table-striped
    tbody
      tr
        td Access Key
        td= aws.getAWSAccessKeyId()
      tr
        td Secret Key
        td= aws.getAWSSecretKey()

  h2 System Environment
  table.table.table-bordered.table-striped
    colgroup
      col.span4
      col.span6
    thead
      tr
        th Name
        th Value
    tbody
      each property in system_env.keySet()
        tr
          td= property
          td= system_env[property]


  h2 System Properties
  table.table.table-bordered.table-striped
    colgroup
      col.span4
      col.span6
    thead
      tr
        th Name
        th Value
    tbody
      each property in system_properties.keySet()
        tr
          td= property
          td= system_properties[property]