extends layout

block admin
  h2 Vehicle (#{vehicle.VIN})
  table.table.table-striped
    thead
      tr
        th Name
        th Value
    tbody
      tr
        td Id
        td= vehicle.id
      tr
        td Owner
        td
          a(href="/olympus/accounts/#{owner.id}")= owner.username
      tr
        td VIN
        td= vehicle.VIN
      tr
        td Make and Model
        td= vehicle.makeAndModel
      tr
        td Last Odometer
        td
          if vehicle.odometer
            | #{vehicle.odometer.odometer} (#{formatter.formatDateTime(vehicle.odometer.timestamp, vehicle.timeZone)})

      tr
        td TimeZone
        if vehicle.timeZone
          td= vehicle.timeZone.ID
        else
          td Unknown.
      tr
        td Region
        //-td = vehicle.region.get("city")
        td
          each entry in vehicle.region.entrySet()
            p
              b= entry.key
              | :&nbsp;
              = entry.value
      tr
        td Aggregates
        td
          ul
          each aggregate in vehicle.aggregateGroupIds
            li= aggregate
  h2 Daily Reading
  if reading
    table.table.table-striped
      thead
        tr
          th Name
          th Value
      tbody
        tr
          td Enabled
          td= reading.enabled
        tr
          td Status
          td
            = reading.status
            if reading.errorCount > 0
              |  (#{reading.errorCount})
        tr
          td Last Reading
          td
            if reading.lastReading
              #{reading.lastReading.odometer} (#{formatter.formatDateTime(reading.lastReading.timestamp, reading.TimeZone)})
            else
              | No reading
        tr
          td Next Reading
          td= formatter.formatDateTime(reading.nextReadingDate, reading.timeZone)
        tr
          td For Date
          td= formatter.formatDateTime(reading.forDate, reading.timeZone)
        tr
          td Timezone
          td= reading.timeZone.ID
        tr
          td Message
          td= reading.message
